# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015/2017 cache/options directory
.vs/

Bin64
Obj64

*.obj
*.exe

# Temp/Test files
Temp.*
Test.*

# LUL_Profiler results
/WarframePriceChecker/Results

/External/Tesseract-OCR
